datafactory/pipeline/PatientDataIngestion.json
{
	"name": "PatientDataIngestion",
	"properties": {
		"activities": [
			{
				"name": "CopyFromSourceToBronze",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "PatientDataBronzeDataSet",
						"type": "DatasetReference",
						"parameters": {
							"folder": "@concat('bronze', '/', formatDateTime(utcnow(), 'yyyy'), '/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'),'/')"
						}
					}
				]
			},
			{
				"name": "CopyFromBronzeToSilver",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/stanislav.zhurich@gmail.com/pipeline/copyFromBronzeToSilver.py"
				},
				"linkedServiceName": {
					"referenceName": "databricksClusterLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetFileMetadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "CopyFromSourceToBronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "PatientDataBronzeDataSet",
						"type": "DatasetReference",
						"parameters": {
							"folder": "@concat(formatDateTime(utcnow(), 'yyyy'), '/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'),'/')"
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "SetFileNameVariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetFileMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('GetFileMetadata').output.itemName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-31T12:15:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}