datafactory/pipeline/PatientDataIngestion.json
{
	"name": "PatientDataIngestion",
	"properties": {
		"activities": [
			{
				"name": "SetDestinationVariable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Destination",
					"value": {
						"value": "@concat('bronze/patient', '/', formatDateTime(utcnow(), 'yyyy'), '/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'), '/', pipeline().parameters.triggerFileName)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyFromSourceToBronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetDestinationVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "patient-data-source//@{pipeline().parameters.triggerFileName}"
					},
					{
						"name": "Destination",
						"value": "datalake//@{variables('Destination')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataSet",
						"type": "DatasetReference",
						"parameters": {
							"file": "@pipeline().parameters.triggerFileName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "PatientDataBronzeDataSet",
						"type": "DatasetReference",
						"parameters": {
							"destination": "@variables('Destination')"
						}
					}
				]
			},
			{
				"name": "CopyFromBronzeToSilver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CopyFromSourceToBronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/stanislav.zhurich@gmail.com/pipeline/copyFromBronzeToSilver.py",
					"baseParameters": {
						"file_destination": {
							"value": "@pipeline().parameters.file_destination",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "databricksClusterLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"file_destination": {
				"type": "string",
				"defaultValue": "@concat('bronze/patient', '/', formatDateTime(utcnow(), 'yyyy'), '/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'), '/', pipeline().parameters.triggerFileName)"
			}
		},
		"variables": {
			"TriggerFileName": {
				"type": "String"
			},
			"Destination": {
				"type": "String"
			}
		},
		"annotations": []
	}
}